* {
    font-size: 64px;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat bold';
    margin: 0;
    background-color: hotpink;    
}

.main_container {
    overflow-x: hidden;
    text-align: center;
}

.button {
    margin: auto;
    border-radius: 25px;
    background-color: azure;
}