* {
    box-sizing: border-box;
    font-size: 24px;
}

body {
    font-family: 'Montserrat', 'sans-serif', 'Arial';
    font-weight: 700;
    margin: 0;
    background-color: hotpink;    
}

div {
    text-align: center;
    display: block;
}

.all {
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    position: relative;
    overflow: hidden;
}

.mainblock {
    width: 100vw;
}

.ui-widget-content {
    align-content: center;
    display: inline-block;
    width: 105px; 
    height: 155px;
    background-image: url(active.svg);
    background-origin: border-box;
    background-position: 105px 155px;
    background-size:  1400px;
}

.all { 
    background-color: bisque;
    width: 100vw; 
    height: 100vh;
}

#droppable { 
    background-color:  burlywood;
    width: 100vw; 
    height: 60vh;
    align-items: center;
}

.cards_zone {
    margin: auto;
}

ul {
    padding: 0;
}

.button {
    background-color: antiquewhite;
}

.input {
    width: auto;
    height: auto;
    
    position: fixed;
    border: 0 0 0 0;
    background-color: peru;
}