* {
    font-size: 64px;
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: hotpink;    
}

div {
    color: black;
    overflow-x: hidden;
    text-align: center;
}

.button {
    margin: auto;
    border-radius: 25px;
    background-color: azure;
}